<div class="search_list">
  <% if @user_or_post == "1" %>
    <h2 class="search_text">ユーザーを探す</h2>
      <h5 class="search_font">ユーザー一覧</h5>
        <% @users.each do |user| %>
          <ul class="list-group">
            <div class="list_main">
              <li class="list-group-item list-content">
                <div class="icon_user"><i class="far fa-user-circle fa-5x"></i></div>
                  <div class="list_body">
                    <p class="badge badge-info" style="margin-bottom: 0;">タグ</p>
                    <p class="badge badge-info" style="margin-left: 5px; margin-bottom: 0;">タグ</p>
                    <p class="badge badge-info" style="margin-left: 5px; margin-bottom: 0;">タグ</p>
                    <div class="search_style">
                      <a href="/users/<%= user.id %>" id="a_tag_ft"><%= user.name %></a>
                    </div>
                    <div class="search-count">
                      <p>投稿数: <%= user.posts.count %></p>
                      <p class="followers_counts">フォロワー数: <%= user.followers.count %></p>
                    </div>
                  </div>
              </li>
            </div>
          </ul>
        <% end %>

  <% elsif @user_or_post == "2" %>
    <h2 class="search_text">投稿を探す</h2>
      <h5 class="search_font">投稿一覧</h5>
        <% @posts.each do |post| %>
          <ul class="list-group">
            <div class="list_main">
              <li class="list-group-item list-content">
                <div class="icon_user"><i class="far fa-user-circle fa-5x"></i></div>
                  <div class="list_body">
                    <div class="list_posts">
                      <a href="/posts/<%= post.id %>" id="post_ttl"><%= post.title %></a>
                    </div>
                    <p class="badge badge-info" style="margin-bottom: 0;">タグ</p>
                    <p class="badge badge-info" style="margin-left: 5px; margin-bottom: 0;">タグ</p>
                    <p class="badge badge-info" style="margin-left: 5px; margin-bottom: 0;">タグ</p>
                    <div class="search_text_ct">
                      <% post.images.each_with_index do |image| %>
                        <%= image_tag image.url.url, height: "430", width: "345", class: "img_rd" %>
                      <% end %>
                    </div>
                  </div>
              </li>
            </div>
          </ul>
        <% end %>
  <% else %>
  <% end %>
</div>