<% if logged_in? %>
  <div class="top_main_content card">
    <div class="top_user">
      <i class="far fa-user-circle fa-4x"></i>
      <div class="font__user">
        <%= @post.user.name %>
      </div>
    </div>
    <div id="user__path">
      <%= link_to 'my profile', user_path(current_user), class: 'view_pf' %>
    </div>
    <div class="list__title">
      おすすめ
    </div>
    <% @rank.each_with_index do |user| %>
      <div id="ranks_list">
        <ul class="list__ct">
          <li class="list__view">
            <div class="profile_ct">
              <i class="far fa-user-circle fa-2x"></i>
              <div class="user__name">
                <span>
                  <a href="/users/<%= user.id %>" class="top_user_name"><%= user.name %></a>
                </span>
                <div class="view__ct">
                  <%= link_to 'View Profile', user_path(user), class: 'view__user' %>
                </div>
              </div>
            </div>
            <div class="list__btn">
              <a href="#" class="btn btn-arrival">フォローする</a>
            </div>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <%= render 'posts/post', posts: @posts %>
<% else %>
<div class="container-fulid">
    <div class="row row_cl">
      <div class="col topImage position-relative">
        <div class="topImage__inContent position-absolute">
          <div class="row mb-4">
            <div class="col">
              <div class="topImage__inContent--title">
                カラーの再現率を
                <br>
                上げるアプリ
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="topImage__inContent--content">
                カラーの再現率を上げるために
                <br>
                薬剤の選定や調合をシェアすることができます
              </div>
            </div>
          </div>
            <div class="topImage__inContent--div text-center">
              ユーザー登録
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center p-4">
        <u class="font-weight-bold">
          新着投稿
        </u>
      </div>
    </div>
    <div class="row px-4">
      <% @posts.each do |post| %>
        <div class="col-lg-4 p-4">
          <div class="card tppag_cd">
            <% post.images.each_with_index do |image,i| %>
              <% if i == 1 %>
                <%= image_tag image.url.url, height: "430", class: "top_img" %>
              <% end %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title">スダンダードコース</h4>
              <p class="card-text">ホームページ作成・Web集客を一通り習得したい方向けです。</p>
              <a href="/posts/<%= post.id %>" class="btn btn-arrival">詳細を見る</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col text-center p-4">
        <u class="font-weight-bold">
          人気ユーザ一覧
        </u>
      </div>
    </div>
    <div class="row px-4">
      <% @ranks.each_with_index do |user| %>
        <div class="col-lg-4 p-4">
          <ul class="list-group" style="border-radius: 20px;">
            <li class="list-group-item" style="border-radius: 20px;">
              <i class="fas fa-user-circle"></i>
              <a href="/users/<%= user.id %>"><%= user.name %></a>
              <p>投稿数: <%= user.posts.count %></p>
              <p>フォロワー数: <%= user.followers.count %></p>
              <p class="badge badge-info">タグ</p>
              <p class="badge badge-info">タグ</p>
              <p class="badge badge-info">タグ</p>
              <a href="#" class="btn btn-arrival">フォローする</a>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
