<% if logged_in? %>
  <div class="top_main_content card">
    <div class="top_user">
      <% if @image.present? %>
        <%= image_tag @image.url, class: 'icon___img' %>
      <% else %>
        <i class="far fa-user-circle fa-4x"></i>
      <% end %>
      <div class="font__user">
        <%= @post.user.name %>
      </div>
    </div>
    <div id="user__path">
      <%= link_to 'my profile', user_path(current_user), class: 'view_pf' %>
    </div>
    <div class="list__title">
      おすすめ
    </div>
    <% @rank.each_with_index do |user| %>
      <div id="ranks_list">
        <ul class="list__ct">
          <li class="list__view">
            <div class="profile_ct">
              <% if user.image.present? %>
                <%= image_tag user.image.url, class: 'rank_img' %>
              <% else %>
                <i class="far fa-user-circle fa-2x"></i>
              <% end %>
              <div class="user__name">
                <span>
                  <a href="/users/<%= user.id %>" class="top_user_name"><%= user.name %></a>
                </span>
                <div class="view__ct">
                  <%= link_to 'View Profile', user_path(user), class: 'view__user' %>
                </div>
              </div>
            </div>
            <div class="list__btn" style="margin-top: -10px;">
              <% unless current_user == user %>
                <% if current_user.following?(user) %>
                  <%= form_with(model: current_user.relationships.find_by(follow_id: user.id), local: true, method: :delete) do |f| %>
                    <%= hidden_field_tag :follow_id, user.id %>
                    <%= f.submit 'フォロー中', class: 'btn btn-danger btn-block btn-sm', id: "user_unfw_btn" %>
                  <% end %>
                <% else %>
                  <%= form_with(model: current_user.relationships.build, local: true) do |f| %>
                    <%= hidden_field_tag :follow_id, user.id %>
                    <%= f.submit 'フォローをする', class: 'btn btn-block btn-sm btn-arrival', id: "user_fw_btn" %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <%= render 'posts/post', posts: @posts %>
<% else %>
<div class="container-fulid">
    <div class="row row_cl">
      <div class="col topImage position-relative">
        <div class="topImage__inContent position-absolute">
          <div class="row mb-4">
            <div class="col">
              <div class="topImage__inContent--title">
                カラーの再現率を
                <br>
                上げるアプリ
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="topImage__inContent--content">
                カラーの再現率を上げるために
                <br>
                薬剤の選定や調合をシェアすることができます
              </div>
            </div>
          </div>
            <div class="topImage__inContent--div text-center">
              <%= link_to 'ユーザー登録', signup_path, class: 'top__nav' %>
            </div>
          </div>
      </div>
    </div>
    <div class="row row_div">
      <div class="col text-center p-4">
        <h4 class="font-weight-bold top_h4">
          新着投稿
        </h4>
      </div>
    </div>
    <div class="row px-4 row_div">
      <% @posts.each do |post| %>
        <div class="col-lg-4 p-4 div_rpo">
          <div class="card tppag_cd">
            <% post.images.each_with_index do |image,i| %>
              <% if i == 1 %>
                <%= image_tag image.url.url, height: "430", class: "top_img" %>
              <% end %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title">トレンドカラーレシピ</h4>
              <p class="card-text">カラーリング再現率を上げるための調合・選定を学ぶことができます。</p>
              <a href="/posts/<%= post.id %>" class="btn btn-arrival">詳細を見る</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row row_div">
      <div class="col text-center p-4 top__user">
        <h4 class="font-weight-bold top_h4">
          人気ユーザ一覧
        </h4>
      </div>
    </div>
    <div class="row px-4 row_div">
      <% @ranks.each_with_index do |user| %>
        <div class="col-lg-4 p-4">
          <ul class="list-group" style="border-radius: 20px;">
            <li class="list-group-item" style="border-radius: 20px;height: 215px;">
              <div class="rank_ct">
                <div class="icon__users">
                  <% if user.image.present? %>
                    <%= image_tag user.image.url, class: 'top_rank_img' %>
                  <% else %>
                    <i class="fas fa-user-circle fa-4x"></i>
                  <% end %>
                </div>
                <div class="rank_item">
                  <div class="rank_index">
                    <a href="/users/<%= user.id %>" class="ranks_user"><%= user.name %></a>
                  </div>
                  <div class="rank_div">
                    <p class="rank_p">投稿数: <div class="rank_post"><%= user.posts.count %></div></p>
                    <p style="margin-left: 20px;" class="rank_p">フォロワー数: <div class="rank_post"><%= user.followers.count %></div></p>
                  </div>
                  <p class="badge badge-info">タグ</p>
                  <p class="badge badge-info">タグ</p>
                  <p class="badge badge-info">タグ</p>
                  <p class="badge badge-info">タグ</p>
                  <%= link_to 'プロフィールを見る', user_path(user), class: 'btn btn-arrival' %>
                </div>
              </div>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
