<div class="posts_form">
  <h2 class="sell__block__head">投稿内容を入力</h2>
    <div class="main">
      <section class="main_block">
        <%= form_for @post do |f| %>
          <div class="title-flex">
            <h5 class="title-weight">タイトル</h5>
            <span class="mandatory badge badge-danger">必須</span>
          </div>
          <p class="small">タイトルを入力してください(5文字以上20文字以内)</p>
          <div class="form-group">
            <%= f.text_field :title, placeholder: '例: ミルクティーベージュ', class: 'form-control' %>
          </div>
          <div class="title-flex">
            <h5 class="title-weight">ヘアカラーの画像</h5>
            <span class="mandatory badge badge-danger">必須</span>
          </div>
          <p class="small">ヘアカラーのBefore/After</p>
          <div class="upload">
            <div id="image-box">
              <div class="prev-content"></div>
              <div class="label-content">
                <label class="abel-box" for="post_images_attributes_0_image" id="label-box--0" ></label>
              </div>
              <%= f.fields_for :images do |image| %>
                <div class="js-file_group">
                  <label class="image_input_btn" for="post_images_attributes_0_url">Beforeの画像を選択</label>
                  <%= image.file_field :url, class: 'hidden-field' %>
                  <label class="image_input_btn" for="post_images_attributes_2_url">Afterの画像を選択</label>
                  <input class="hidden-field" id="post_images_attributes_2_url" name="post[images_attributes][2][url]" type="file">
                </div>
              <% end %>
            </div>
          </div>
          <div class="title-flex">
            <h5 class="title-weight">カラーリングの説明</h5>
            <span class="mandatory badge badge-danger">必須</span>
          </div>
          <p class="small">使用した薬剤や比率など</p>
          <div class="form-group">
            <%= f.text_area :content, class: 'form-control', placeholder: 'カラーリングの詳細を入力してくだい。' %>
          </div>
          <div class="posts_under-bt">
            <%= f.submit '投稿する', class: 'btn btn-posts btn-block' %>
          </div>
        <% end %>
      </section>
    </div>
</div>
