<div class="content">
  <p><a href="/posts/<%= post.id %>"><%= post.title %></a></p>
  <p><%= post.content %></p>
  <% post.images.each do |image| %>
    <%= image_tag image.url.url %>
  <% end %>
</div>

<%= link_to '削除', post_path(post), method: :delete %>