<h1>投稿詳細ページ</h1>
<%= @post.title %><br>
<%= @post.content %><br>
<h4>いいね件数：<%= @post.favorites.count %></h4>
<% @post.images.each do |i| %>
  <%= image_tag ("#{i.url.url}") %>
<% end %>
<h2>コメント一覧</h2>
<% @comments.each do |c| %>
  <div>
    <a href="/users/<%= @post.user.id %>"><%= c.user.email %></a>
    <%= c.text %>
    <hr>
  </div>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :text %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>

<% @post.favorited_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<%= render "favorites/favorite_button", post: @post %>

<%= link_to "ホームへ戻る", root_path %>