<div class="posts-show-ct">
    <div class="user-icon">
      <div>
        <% if @post.user.image.present? %>
          <%= image_tag @post.user.image.url, class: 'img__show' %>
        <% else %>
          <i class="far fa-user-circle fa-5x"></i>
        <% end %>
      </div>
      <div class="user-ct">
        <div><a href="/users/<%= @post.user.id %>" class="user-ct-nm"><%= @post.user.name %></a></div>
        <span class="text-muted"> posted at <%= @post.created_at %></span>
      </div>
    </div>
  <div class="posts-main card">
    <div class="img-ct">
      <% @post.images.each do |i| %>
        <%= image_tag ("#{i.url.url}"), class: 'big-img' %>
      <% end %>
    </div>
    <div class="posts-under">
      <div class="posts-box_ud">
        <div id="favorites__box"><%= render "favorites/favorite_button", post: @post %></div>
          <div class="favorite-count">
            <div class="favorite-posts">
              いいね ! <%= @post.favorites.count %>件
            </div>
            <% @post.favorited_users.each do |user| %>
              <li><%= user.email %></li>
            <% end %>
          </div>
          <div class="posts-under_ct">
            <div class="post_title_ct">
              <%= @post.title %>
            </div>
            <div class="post_content_ct">
              <%= @post.content %>
            </div>
          </div>
            <h4 class="comment-btn">コメント一覧</h4>
          <% @comments.each do |c| %>
            <div class="comments__users">
              <a href="/users/<%= @post.user.id %>"><%= c.user.email %></a>
              <%= c.text %>
              <hr>
            </div>
          <% end %>
        <div class="form-group">
          <%= form_for [@post, @comment] do |f| %>
            <label for="text1" class="label__post">Comments: </label>
            <%= f.text_field :text, class: 'form-control' %>
            <%= f.submit 'コメントする', class: 'btn btn-comments' %>
          <% end %>
        </div>
        <div class="home_path">
          <%= link_to "ホームへ戻る", root_path %>
        </div>
      </div>
    </div>
  <div>
</div>